<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.paragon.sensonic">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BrandResidential">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.paragon.sensonic"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

        <activity
            android:name="com.paragon.sensonic.ui.activities.otp.OtpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.paragon.sensonic.ui.activities.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name="com.paragon.sensonic.ui.activities.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan">
        </activity>

        <activity
            android:name=".ui.activities.profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"/>

        <activity
            android:name=".ui.activities.residents.ResidentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"/>

        <activity
            android:name=".ui.activities.residentdetails.ResidentDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"/>

        <activity
            android:name=".ui.activities.vehiclesdetails.VehiclesDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"/>

        <activity
            android:name=".ui.activities.staffdetails.StaffDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"/>

        <activity
            android:name=".ui.activities.frienddetails.FriendDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"/>

        <activity
            android:name=".ui.activities.petdetails.PetDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"/>

        <activity
            android:name=".ui.activities.guestsprofile.GuestsProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"/>

        <activity
            android:name=".ui.activities.guestprofiledetails.GuestProfileDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"/>

        <activity
            android:name=".ui.activities.interests.InterestsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"/>


        <activity
            android:name=".ui.activities.guesthistory.GuestHistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"/>

        <activity
            android:name=".ui.activities.guesthistorydetails.GuestHistoryDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"/>

    </application>

</manifest>